.Header-wrapper {
  background-color: blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-wrapper h1 {
  height: 64px;
  pointer-events: none;
}