.Backlog-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.Backlog-wrapper h2 {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid darkGray;
}

.Tasks-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
}
